/anon.session
/cronlog1.txt
/file.html
/findthis.py
/geckodriver.log
/log.txtt
/nohup.out
/oldbot.py
/printtodaymultic.py
/screenie.png
/screenie1.png
/send.py
/sendvideo.py
/spoknokthumbsup.jpg
/testbot.py
/th.jpg
/thumbbot.py
/thumbsup.jpg
/vidcap.py